/* src/components/navigation/navigation.css */

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.header p {
  flex-grow: 1;
  margin: 0;
}

.logout {
  cursor: pointer;
  color: #ff0000;
  display: flex;
  align-items: center;
}

.logout svg {
  margin-right: 5px;
}



.sidebar {
    width: 220px;
    position: fixed;
    height: 100%;
    background-color: #BB000E;
    padding-top: 80px;
    z-index: 1;
}

.sidebar.small {
    width: 50px;
}

.sidebar-navigation {
    margin: 0;
    list-style: none;
    padding-left: 0;
}