/* General */

.error label {
    color: #E31C25 !important;
}

#showPasswordIcon {
    margin-left: 5px;
}



/* input */

.form-group {
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

.form-group.dark {
    margin: 20px;
    max-width: 200px;
    width: 100%;
}

.form-group.dark label {
    color: #FFFFFF;
}

.form-group.dark input {
    color: #FFFFFF;
    background-color: #2C2C2C;
    padding: 5px;
}

.form-group input {
    display: block;
    border: none;
    border-bottom: 1px solid #E31C25;
    margin: 10px 0;
    width: 100%;
    padding: 5px 0;
}

.form-group.error input {
    border: 1px solid #E31C25;
}

.form-group svg {
    opacity: 40%;
    margin-right: 10px;
}

.form-group.error svg {
    opacity: 100%;
    color: #E31C25;
}

.form-group input:focus-visible {
    outline: none;
}


/* Select input */

.select-group {
    color: #FFFFFF;
    margin: 20px;
    max-width: 200px;
    width: 100%;
}

.select-group select:focus-visible {
    outline: none;
}

.select-group select {
    display: block;
    border: none;
    border-bottom: 1px solid #E31C25;
    color: #FFFFFF;
    background-color: #2C2C2C;
    margin: 10px 0;
    padding: 5px 0;
    width: 100%;
}

/* Button */

.btn {
    color: #FFFFFF;
    background-color: #BB000E;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.btn.active {
    background-color: #E31C25;
}

.btn.hover:hover {
    opacity: 80%;
    cursor: pointer;
}

.btn svg {
    margin-right: 5px;
}

.btn.btn-header {
    width: 50%;
    padding: 15px 20px;
}

.btn.sign {
    align-self: end;
}



.search-bar {
    color: #FFFFFF;
    background-color: #2C2C2C;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 0 20px;
    width: 100%;
    max-width: 535px;
}

.search-bar:hover {
    cursor: pointer;
}

.search-bar::placeholder {
    color: #FFFFFF;
    opacity: 60%;
}

.search-bar:focus-visible {
    outline: none;
}

.search-bar:hover::placeholder {
    opacity: 100%;
}

